<div class="cdb-calculator-title" id="cdb-calculator-title">CDB</div>
<div>
  <form [formGroup]="cdbForm" (ngSubmit)="calculate()">
    <div class="cdb-calculator-inputs">
      <p-floatLabel>
        <p-inputNumber
          inputId="CDB-initial-value"
          formControlName="initialValue"
          locale="pt-BR"
          mode="currency"
          currency="BRL"
        />
        <label for="CDB-initial-value"> Valor inicial </label>
      </p-floatLabel>
      <p-floatLabel>
        <p-inputNumber inputId="CDB-cdi" formControlName="cdi" suffix="%" [min]="0" [step]="0.1"/>
        <label for="CDB-cdi"> CDI (%)</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-inputNumber inputId="CDB-tb" formControlName="tb" [min]="0" [step]="1" suffix="%"/>
        <label for="CDB-tb"> Taxa do banco (%)</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-inputNumber inputId="CDB-months" formControlName="months" [min]="0" [step]="1"/>
        <label for="CDB-months"> Quantidade de meses </label>
      </p-floatLabel>
    </div>

    <!-- Error messages -->
    <div
      *ngIf="cdbForm.controls['initialValue'].errors?.['min']"
      class="errorMessage" id="errorMessage-initialValue"
    >
      Valor inicial deve ser positivo
    </div>
    <div *ngIf="cdbForm.controls['cdi'].errors?.['min']" class="errorMessage" id="errorMessage-cdi">
      CDI deve ser positivo
    </div>
    <div *ngIf="cdbForm.controls['tb'].errors?.['min']" class="errorMessage" id="errorMessage-tb">
      Taxa do banco deve ser positivo
    </div>
    <div
      *ngIf="cdbForm.controls['months'].errors?.['min']"
      class="errorMessage" id="errorMessage-months"
    >
      Quantidade de meses deve ser maior que 1
    </div>
    <p-button label="Calcular" type="Submit" [disabled]="disabledSubmit()" />
  </form>

  <div class="cdbTable" *ngIf="calculation">
    <p-table
      [value]="calculation.values"
      [tableStyle]="{ 'min-width': '5rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <td>Mês</td>
          <td>Resultado bruto</td>
          <td>Resultado liquido</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr>
          <td>{{ value.month }}</td>
          <td>{{ value.grossValue | currency : "BRL" : "symbol" : "4.1-5" }}</td>
          <td>{{ value.liquidValue | currency : "BRL" : "symbol" : "4.1-5" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
